.card__locations{
    display: flex;
}

.card__locations {
    width: 100%;
    border: 1px solid black;
  }

  .table__locations{
    width: 100%;
  }

  td,th{
    border: 1px solid black;
    justify-content: center;
    vertical-align: middle;

  }
 

  .row__titles{
    font-size: 1.3rem;
    background-color: #e5e5e5;
    color: #DD1A1A;
  }

  .location__column{
    min-width: 250px;
  }

  .areas__column{
    width: 100%;
  }


  